.sprite {
  background: url('../images/jailBird-sprite.png') no-repeat;
}
.jailbird {
  background: url('../images/jailBird-sprite.png') no-repeat;
  display: inline-block;
  background-position: -20px -10px;
  width: 78px;
  height: 103px;
}
.jailbird.reverse {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.jailbird.stance {
  -webkit-animation: stance 1s steps(8) infinite;
  -moz-animation: stance 1s steps(8) infinite;
  -ms-animation: stance 1s steps(8) infinite;
  -o-animation: stance 1s steps(8) infinite;
  animation: stance 1s steps(8) infinite;
}
@-webkit-keyframes stance {
  from {
    background-position: -20px -10px;
  }
  to {
    background-position: -652px -10px;
  }
}
@-moz-keyframes stance {
  from {
    background-position: -20px -10px;
  }
  to {
    background-position: -608px -10px;
  }
}
@-ms-keyframes stance {
  from {
    background-position: -20px -10px;
  }
  to {
    background-position: -608px -10px;
  }
}
@-o-keyframes stance {
  from {
    background-position: -20px -10px;
  }
  to {
    background-position: -608px -10px;
  }
}
@keyframes stance {
  from {
    background-position: -20px -10px;
  }
  to {
    background-position: -608px -10px;
  }
}
